<h1>Productos</h1>

<%= link_to nuevo_producto_path, class:"btn btn-success" do %>
<i class="bi bi-plus"></i>
Agregar nuevo producto
<% end %>

    <div class="row justify-content-between fila">
<div class="col-2"><h3>Nombre</h3></div>
<div class="col-2"><h3>Precio</h3></div>
<div class="col-2"><h3>Cantidad</h3></div>
<div class="col-2"><h3>Categoria</h3></div>
<div class="col-2"><h3>Imagen</h3></div>
<div class="col-2"><h3>Opciones</h3></div>
</div>


   

<% @productos.each do |producto| %>
    <div class="row justify-content-between fila">
            <div class="col-2"><%= producto.nombre %></div>
            <div class="col-2"><%= producto.precio %></div>
            <div class="col-2"><%= producto.cantidad %></div>
            <div class="col-2"><%= producto.categoria.categoria %></div>
            <div class="col-2">
                <% producto.imagenes.each do |img| %>
                <%= image_tag img, width:100 %>
            <% end %>
            </div>
            <div class = "col-2">
                <%= link_to editar_producto_path(producto),class:"btn btn-primary"  do %>
                    <i class="bi bi-pencil-fill"></i> 
                <% end %>
                <%= link_to producto_path(producto), method: :delete, data: { confirm: '¿Quieres eliminar la Producto?' },class:"btn btn-warning"  do %>
                    <i class="bi bi-trash-fill"></i>                   
                <% end %>
            </div>
    </div>
<% end %>          
            
