<div class= "row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">

    <div class= "card w-75 m-auto">
        <div class= "row justify-content-center ">
            <%@producto.imagenes.each do |imagen| %>
                <div class=" <%= @columnas %> ">
                    <%= image_tag imagen, class: 'card-img-top' %>
                </div>
            <% end %>
        </div><!--imagenes-->

    <div class="card-body">
        <p>Imagenes: <%= @producto.imagenes.count %>/4</p>
        <h5 class="card-tittle">
            <%= @producto.nombre %>
        </h5>
        <p class ="card-text"> 
            <%= @producto.descripcion %> 
        </p>
    </div>
    <ul class="list-group-flush">
        <li class="list-group-item"> <%= @producto.precio %> CLP </li>
        <li class="list-group-item"> <%= @producto.cantidad %>  disponibles </li>
    </ul>

    <div class="card-body">
        <%= link_to  editar_producto_path(@producto), class: 'card-link btn btn-primary' do %>
            <i class="bi bi-pencil-fill"></i> 
        <% end %>
        <%= link_to  producto_path(@producto), class: 'card-link btn btn-warning', method: :delete, data: {confirm: '¿estas seguro?'} do %>
            <i class="bi bi-trash-fill"></i>   
        <% end %>
    
    </div>

</div>




  

</div> 
</div>