<form action=""><h3></h3></form>
<div class="mb-3">
<%= form_with(model: [:admin, categoria]) do |formulario| %>
    <%= formulario.label :categoria, class:'form-label' %>
    <%= formulario.text_field :categoria, class: 'form-control',autofocus:'autofocus' %>
    <% if categoria.errors[:categoria].any?  %>
        <div style="color: red;">
            <%= categoria.errors[:categoria].first %>
        </div>
    <%end %>
    <br>
    <%= formulario.submit class: 'btn btn-primary' do %>
    <% end %>
<% end %>
</div>
